:root {
    --shadows: none;
    --shadows-lite: none;
    --shadows-vanish: none;
}
body {
    background-color: #000000;
    margin: 10px auto;
    width: 100%;
    font-family: 'Montserrat';
    font-size: 50px;
    text-align: center;
}
.block-horizontal {
    align-self: center;
    background-size: 1390px 430px;
    background-position: 0px 0px;
    transition: 0.2s;
    z-index: 10;
    /*width: 680px;*/
    height: 830px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-sizing: border-box;
    position: center;
    -webkit-box-shadow: var(--shadows);
    -moz-box-shadow: var(--shadows);
    box-shadow: var(--shadows);
}
.online-cristlaix {
    color: #1b00ff;
}
.online-vimeworld {
    color: rgb(85,255,0);
}
.background-home5 {
    background-image: url(../images/cristalix_background.png);
    background-size: 2000px 890px;
    background-position: 0px 0px;
    background-color: #6596ed;
}